.button {
    line-height: 1;
    padding: 8px 10px;
    border: transparent;
    outline: 0;
    background: transparent;
    color: $color--black;
    cursor: pointer;

    &--primary {
        background: $color--turcoise;
        border: 1px solid $color--turcoise;
        color: $color--white;
    }

    &--secondary {
        background: $color--pink;
        border: 1px solid $color--pink;
        color: $color--white;
    }

    &--inverted {
        background: $color--white;
        color: $color--turcoise;
        border: 1px solid $color--turcoise;
    }

    &--rounded {
        border-radius: 5px;
    }

}

.button-group {
    .button {
        margin-left: 0;
        margin-right: 0;
    }
}
