.list {
    &--bullet {
        .list__item {
            position: relative;
            padding-left: 20px;
            &:before {
                content: '•';
                position: absolute;
                left: 0;
            }
        }
    }

    &--numeric {
        counter-reset: ol;
        .list__item {
            counter-increment: ol;
            position: relative;
            padding-left: 20px;
            &:before {
                content: counter(ol);
                position: absolute;
                left: 0;
                font-weight: bold;
            }
        }
    }

    &--checks {
        .list__item {
            position: relative;
            padding-left: 20px;
            &:before {
                border-style: solid;
                border-width: 3px 3px 0 0;
                content: '';
                display: inline-block;
                height: 8px;
                width: 10px;
                position: absolute;
                left: 0;
                top: 25%;
	            transform: rotate(135deg);
                vertical-align: top;
            }
        }
    }
}
