.nav {
    width: 100%;
    background: #f0f0f1;

    &__list-item {
        padding-top: 10px;
        padding-bottom: 10px;

        @include tablet {
            display: inline-block;
            margin-right: 10px;
        }
    }
}
