.section {
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__heading {
        font-size: 30px;
        color: $color--turcoise;
    }
    &__sub {
        margin-top: 10px;
    }

    &--grid {
        [class*='col-'] {
            margin-top: 5px;
            margin-bottom: 5px;
            color: $color--white;
        }
    }
}
