.section {
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__heading {
        font-size: 30px;
        color: $color--turcoise;
    }
    &__sub {
        margin-top: 10px;
    }

    &--grid {
        [class*='col-'] {
            margin-top: 5px;
            margin-bottom: 5px;
            color: $color--white;
        }
    }

    &--active {
        position: relative;
        box-shadow: inset 0px 0px 0px 3px #96c6fa;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #96c6fa;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: inset 0px 0px 0px 3px #96c6fa;
    }
}
