.u {
    // A11y accessability helpers
    &-a11y--hidden { @extend %visuallyhidden; }

    // Alignment
    &-align--center { text-align: center; }
    &-align--left { text-align: left; }
    &-align--right { text-align: right; }

    &-pulls--left { float: left; }
    &-pulls--right { float: right; }

    // Background
    &-bg--cover {
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-bg--contain {
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-bg--green {
        background: $color--turcoise;
    }
}
